.chat-preview {
  font-size: 0.85rem;
  height: auto;
  position: static;
  z-index: 1020;
  transition: width 0.3s ease-in-out;
  overflow-x: hidden;
  box-shadow: var(--box-shadow-lg);

  &.chat-preview-open {
    width: 33%;
    opacity: 1;
  }

  &.chat-preview-close {
    width: 0;
    .chat-preview-area {
      opacity: 0;
    }
  }

  .sidebar-header {
    border-bottom: 1px solid var(--gray-300);
  }

  .messages {
    height: calc(100vh - 390px);
  }

  .prompt {
    height: 9rem;
  }

  .chat-input-wrapper {
    textarea.form-control {
      background: transparent;
      border: 1px solid var(--gray-500);
      font-size: inherit;
      overflow: hidden;
      resize: none;
      border-radius: 2px;
      padding: 1.25rem 1.2rem;
      &:focus {
        outline: none;
        box-shadow: none;
      }
    }
  }

  .trace-details {
    &.hidden {
      display: none;
    }
    pre {
      background-color: #fdfdfd;
      border: 1px solid #ccc;
      padding: 10px;
      font-size: 0.6rem;
      overflow-x: auto; // Add horizontal scroll if needed
      white-space: pre-wrap; /* Wrap the text */
      word-wrap: break-word; /* Wrap the text */
      font-family: monospace; // Use a monospace font for code-like presentation
    }
  }

  .chat-preview-area {
    padding: 0 0.5rem 2rem 0.5rem;
    height: 100%;
    overflow: auto;
    transition: opacity 0.15s ease;
    scroll-behavior: smooth;

    .chat-preview-message {
      .message {
        border-radius: 1rem;
        padding: 1rem 1.35rem;
        margin-top: 1rem;
        margin-bottom: 0;
        max-width: 80%;
        word-wrap: break-word;

        &.user-message {
          background: var(--primary);
          color: white;
        }

        &.system-message {
          background: var(--gray-200);
        }
      }
    }
  }
}
