.flow-nodes-pane {
  left: 0;
  z-index: 1020;
  transition: width 0.3s ease-in-out;
  overflow-x: hidden;
  box-shadow: var(--box-shadow-lg);

  &.flow-nodes-pane-open {
    opacity: 1;
  }

  &.flow-nodes-pane-close {
    width: 0;
    .flow-nodes-pane-area {
      opacity: 0;
    }
  }

  .sidebar-header {
    border-bottom: 1px solid var(--gray-300)
  }

  .sidebar-header {
    padding-top: 2rem;
  }

  .flow-nodes-pane-area {
    gap: 1rem;
    padding: 2rem .5rem;
    height: 75vh;
    overflow: auto;
    transition: opacity 0.15s ease;
  }
}