.flow-container {
  height: calc(100vh - 161px);
  width: 100%;

  .context-menu {
    position: absolute;
    z-index: 1000;
  }

  .react-flow__handle {
    width: 14px;
    height: 14px;
    background-color: #80acff;
  }

  .react-flow__controls {
    bottom: 180px !important;
  }

  .react-flow__edgelabel-renderer {
    button {
    }
  }

  .react-flow__minimap {
    border: 1px solid var(--gray-500);
    border-radius: 8px;
  }
}

%node-base {
  padding: 0;
  background: #fff;
  border-color: #d3d6e0;
  border-radius: 0.25rem;
  border-style: solid;
  border-width: 0.125rem;
  height: auto;
  transform: translateY(4px);
  transition:
    border-color 0.3s ease,
    box-shadow 0.3s ease,
    transform 0.3s ease;

  .node-header-container {
    background: #f7f8f9;
    border-radius: 0.25rem 0.25rem 0 0;
    min-width: 12rem;
    padding: 0.7rem;

    .node-header-label {
      font-size: 0.8rem;
      text-overflow: ellipsis;
      white-space: nowrap;
      overflow: hidden;
      margin: 0;
      max-width: 15rem;
    }

    .label-info {
      font-size: 0.6rem;
    }
  }

  .node-details-container {
    font-size: 0.6rem;
    padding: 1rem;

    .detail-label {
      text-transform: uppercase;
      font-weight: 700;
      color: var(--gray-600);
    }

    .detail-value {
      font-style: italic;
      margin-left: 5rem;
    }
  }

  &:hover {
    border-color: #b3cdff;
    border-width: 0.125rem;
    box-shadow:
      rgba(17, 17, 26, 0.1) 0 4px 16px,
      rgba(17, 17, 26, 0.05) 0 8px 32px;

    .react-flow__handle {
      opacity: 100;
    }
  }
}

.anthropic-chat-model-node {
  @extend %node-base;
}

.gemini-chat-model-node {
  @extend %node-base;
}

.google-imagen-node {
  @extend %node-base;
}

.hugging-face-chat-model-node {
  @extend %node-base;
}

.input-trigger-node {
  @extend %node-base;
}

// Image Node Style
.image-node {
  @extend %node-base;
  border-color: #a1d5c5; // green
  .node-header-container {
    background-color: #edf6f3; // Light green header
  }
}

.trigger-node {
  @extend %node-base;
}

.llm-node {
  @extend %node-base;
  border-color: #a3b4ff; // Light blue
  .node-header-container {
    background-color: #f0f2ff; // Light blue header
  }
}

.utility-node {
  @extend %node-base;
}

.mistralai-chat-model-node {
  @extend %node-base;
}

.liferay-search-node {
  @extend %node-base;
}

.ollama-chat-model-node {
  @extend %node-base;
}

.openai-chat-model-node {
  @extend %node-base;
}

.openai-image-model-node {
  @extend %node-base;
}

.webhook-node {
  @extend %node-base;
}

.new-node {
  transition:
    border-color 0.3s ease,
    box-shadow 0.3s ease,
    transform 0.3s ease;

  &:hover {
    cursor: grab;
    box-shadow:
      rgba(17, 17, 26, 0.1) 0 4px 16px,
      rgba(17, 17, 26, 0.05) 0 8px 32px;
  }
}

.node-category-title {
  /* color: var(--primary) */
  margin-top: 1rem;
}
